<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все Юзеры</title>
</head>
<body>
    <h2>все юзеры:</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>change</th>
            <th>delete</th>>
        </tr>
        </thead>
        <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.roles}"></td>
        <td><a th:href="@{/admin/users/edituser/{id}(id=${user.getId()})}" th:text="изменить">добавить</a></td>
        <td><a th:href="@{/admin/users/remove/{id}(id=${user.getId()})}" th:text="удалить">user</a></td>

    </tr>
        </tbody>
    </table>
        <br>
        <a th:href="@{/admin/users/new}" th:text="добавить">user</a>
    <form th:action="@{/admin/users/new}" th:object="${user}" method="post">
    </form>
    <button type="button"><a href="/logout">logout</a></button>
</body>
</html>